body {
  background-color: lightblue;
}

.gameContainer {
  display: none;
  font-size: 52pt;
  text-align: center;
}

.topRight {
  border-bottom: 5px solid black;
  border-left: 5px solid black;
  width: 100px;
  height: 100px;
}

.topLeft {
  border-bottom: 5px solid black;
  border-right: 5px solid black;
  width: 100px;
  height: 100px;
}

.topMiddle {
  border-bottom: 5px solid black;
  width: 100px;
  height: 100px;
}

.middleMiddle {

  width: 100px;
  height: 100px;
}

.middleLeft {
  border-right: 5px solid black;
  width: 100px;
  height: 100px;
}

.middleRight {
  border-left: 5px solid black;
  width: 100px;
  height: 100px;
}

.bottomRight {
  border-top: 5px solid black;
  border-left: 5px solid black;
  width: 100px;
  height: 100px;
}

.bottomLeft {
  border-top: 5px solid black;
  border-right: 5px solid black;
  width: 100px;
  height: 100px;
}

.bottomMiddle {
  border-top: 5px solid black;
  width: 100px;
  height: 100px;
}

.gameContainer{
  margin: 40px;
}
